$main-type : 'Helvetica Neue', Helvetica, Arial, sans-serif;

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(12, 33, 58);
    min-width: 1000px;
    font-family: $main-type;
}
.title-container {
    height: 100%;
    width:100%;
    background-image: url(http://russomatt.com/greece/img/background-blue.jpg);
    background-size: cover;
    position: relative;

    .title {
        position: absolute;
        bottom: 3em;
        left: 3em;

        h1 {
            font-size: 4em;
            background-color: rgba(250,250,250,1);
            margin:0;
            display: inline-block;
            padding: 0.25em 0.5em;
            line-height: 0.8em;
            font-weight: 900;
        }
    }
}
.intro {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    padding: 10em 3em 2em 4em;
    display: table;
    width: 100%;

    .intro-welcome {
        padding: 0.5em 0 0 0;
        font-size: 2em;
        font-weight: 900;
        border-top: 3px solid #fff;
        margin-top: -1px;
    }
    .intro-text {
        padding: 1.1em 0 0 0;
        border-top: 1px solid #fff;

    }
}
.time-line-container {
    padding: 5em 0;
    display: table;
    width: 100%;
}
#time-line {
    padding: 0;
}
.filters {
    padding: 4em 2em 4em 4.5em;
}
.filter {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    transition: .1s;
    cursor: pointer;
    padding: 0.25em 0;

    &.selected {
        font-size: 1.1em;
        font-weight: 900;
        transition: .2s;

    }
}

.axis {
    path {
        stroke: #fff;
    }
    .tick {
        line {
            display: none;
        }
        text {
            font-family: $main-type;
            font-size: 1.15em;
            fill: #fff;
            font-weight: 100;
        }
    }
    &#xAxis g:last-child  {

        text {
            transform: translate(8px, 0);
        }
    }
}

.year-label {
    cursor: pointer;
    fill: #fff;
    font-family: $main-type;
    font-size: 0.95em;
    font-weight: 300;
    letter-spacing: 0.015em;
    transition: 0.2s;

    &.selected-year {
        transition: 0.2s;
        font-size: 1.65em;
        font-weight: 900;
        border-bottom: 1px solid #fff;
    }
}

.marker-group {
    cursor: pointer;

    &:hover {
        circle {
            fill: #fff!important;
        }
        line {
            stroke: #fff!important;
        }
    }
}

.marker-content {
    display: table;
    font-family: $main-type;
    font-weight: 300;
    width: 275px;
    font-size: 0.9em;
    color: #fff;

    &.marker-content-left {
        text-align: right;
    }
    .marker-content-date {
        font-weight: 900;
        margin-bottom: 0.75em;
        color: #fff;
        border-top: 2px solid #F9D108;
        padding-top: 0.4em;
    }
}
